---
import Layout from "../layouts/Layout.astro";
import ThanksMsg from "./thanksPage.astro";

<Layout title="Ingeniería & Paisajes">

    <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
        <ThanksMsg></ThanksMsg>
    </main>
</Layout>